
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.actitime.Testscript.CustomerModule"/>
      <class name="com.actitime.Testscript.ProjectModule"/>
      <class name="com.actitime.Testscript.UserModule"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
